<template>
    <div class="container">
        <h3 class="text-center">Vue Form</h3>       
            <form action="">
                <div class="form-group">
                    <label for="filterField">Fields:</label>
                    <select id="filterField" class="form-control">
                        <option value="">Disable filters</option>
                        <option value="isActive">Active user</option>
                        <option value="name">Name</option>
                        <option value="email">Email</option>
                        <option value="balance">Balance</option>
                        <option value="registered">Date registered</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="filterQuery">Query:</label>
                    <input type="text" name="" id="filterQuery" class="form-control">
                </div>
            </form>               
    </div>
</template>
  
<script>
    export default {        
        data() {
            return {
                datas: [{}]
            };
        },
        methods: {
            activeStatus(people) {
                return (people.isActive) ? 'Active' : 'Inactive';
            }
        },
        mounted() {
            console.log('Component mounted.');            
        }
    }
</script>