<template>
    <div class="container">
        <h3>Program vue component</h3>
        <div class="row justify-content-center">
           <table>
               <tr v-for="people in peoples">
                   <td>{{ people.name }}</td>
                   <td>{{ people.email }}</td>
                   <td>{{ people.balance }}</td>
                   <td>{{ people.registered }}</td>
                   <td>{{ activeStatus(people) }}</td>
               </tr>
           </table>
        </div>
    </div>
</template>
  
<script>
    export default {        
        data() {
            return {
                peoples: [{"index":0,"guid":"49c9d9f7-af12-4ded-9357-44993eea0f7a","isActive":true,"balance":2570.32,"name":"Morales Ochoa","email":"moralesochoa@savvy.com","registered":"2016-02-22T10:11:31","friends":[{"id":3}]},{"index":1,"guid":"530855cb-63f8-4272-929d-cf544b1a056d","isActive":true,"balance":1892.1,"name":"Tyson Beard","email":"tysonbeard@savvy.com","registered":"2016-01-27T01:06:57","friends":[{"id":1}]},{"index":2,"guid":"88f9b85b-c4b4-4a0c-813c-54e027fff67f","isActive":false,"balance":3423.69,"name":"Hawkins Gibbs","email":"hawkinsgibbs@savvy.com","registered":"2016-04-23T11:19:49","friends":[{"id":3}]},{"index":3,"guid":"35050ff6-51b7-48a4-951b-74f8f115cfcb","isActive":true,"balance":3277.41,"name":"Conley Boyle","email":"conleyboyle@savvy.com","registered":"2014-06-04T04:22:31","friends":[{"id":1}]},{"index":4,"guid":"f2c7f2f2-719b-4f8a-be5f-4e66538fbd2d","isActive":true,"balance":2180.15,"name":"Joy Mosley","email":"joymosley@savvy.com","registered":"2016-04-21T11:52:18","friends":[{"id":1}]}]
            };
        },
        methods: {
            activeStatus(people) {
                return (people.isActive) ? 'Active' : 'Inactive';
            }
        },
        mounted() {
            console.log('Component mounted.');            
        }
    }
</script>